#cover_photo{
	background-image: url(pics/coverphoto.jpg);
	position: relative; 
	padding: 150px;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	height: 90%;

	}

body{
	margin: 0;
}

#about_me{
	font-family: 'Baloo Chettan 2', cursive;
	margin-left: 10px;
	position: relative;
	top: -155px;

}

#about_me h1{
	font-size: 45px;
}

#about_me ul{
	list-style: none;

}

#nav{
	background: #ccc;
	color: black;
	text-align: center;
	margin: auto;

}

#nav ul{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	list-style: none;
	text-align: center;
}

#nav li{
	display: inline;
	padding: 5px;
	font-size: 25px;
	padding-right: 25px;
	padding-left: 25px;

}

#nav li:hover{
	background: #aaa;


}

.container p{
	font-size: 18px;
}

.thumbnail img{
	width: 100%;
}

#portfolio{
	text-align: center;
	margin: auto;
	padding-top: 15px;

}

#portfolio img{
	width: 20%;
}

#main_container span{
	display: inline;

}


.col-lg-8 ul{
	list-style: none;
	font-size: 18px;

}

.col-lg-8 li{
	padding: 8px;
}


#pythonPic img{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}


#webdev{
	margin-top: 8%;
}

#webdev h4{
	margin-top: 5%;
}


embed{
	height: 55%;
	width: 45%;
}

.col-lg-6 embed{
	width: 90%;
}

.col-lg-6 h3{
	margin-top: 20%;
}

.gis p{
	line-height: 2.2em;
}

#fix h3{
	margin-top: 5%;
}

.container h2{
	margin-top: 5%;
}


#contact{
	position: relative;
	left: 20px;
}




.footer-container{
	background-color: #3D444A;
	color: #fff;
	padding: 3em 0;
	border-radius: 40px;
	text-align: center;


}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 4.5%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


